<h1>
<%= @pile1 %>
<br>
<%= @pile2 %>
<br>
<%= @pile3 %>
<br>
<%= @pile4 %>
<br>

<h1>
  Pile 1: <%= @pile1.empty? ? "No card" : @pile1.first %><br>
  <br>
  <br>
  <br>
</h1>

</h1>


<p>
  <button id="next_card_button" name="updated_piles">
  <a href="/second_pile">Next Card</a>
  </button>
</p>
