<%= @pile1 %>
<br>
<%= @pile2 %>
<br>
<%= @pile3 %>
<br>
<%= @pile4 %>
<br>

<h1>
  Pile 1: <%= @pile1.empty? ? "No card" : @pile1.first %><br>
  Pile 2: <%= @pile2.empty? ? "No card" : @pile2.first %><br>
  Pile 3: <%= @pile3.empty? ? "No card" : @pile3.first %><br>
  Pile 4: <%= @pile4.empty? ? "No card" : @pile4.first %><br>
</h1>

</h1>



<p>
<form action="/next_card" method="post">
  <input type="submit" name="piles_for_cookie" value="Next Card">
</form>

</p>
