<h1>
<%= @piles[0] %>
<br>
<%= @piles[1] %>
<br>
<%= @piles[2] %>
<br>
<%= @piles[3] %>
<br>

<%= full_pile_deal(@piles, @current_card_indices) %>
</h1>

<p>
  <h1>Dealer Deck</h1>
  <button id="next_card_button"><a href="/next_card">Next Card</a></button>
</p>
