<%= @pile1 %>
<br>
<%= @pile2 %>
<br>
<%= @pile3 %>
<br>
<%= @pile4 %>
<br>

<h1>
  Pile 1: <%= @pile1.empty? ? "No card" : @pile1.first %><br>
  Pile 2: <%= @pile2.empty? ? "No card" : @pile2.first %><br>
  <br>
  <br>
</h1>

</h1>


<p>
<form action="/third_pile" method="post">
  <input type="submit" name="piles_for_cookie" value="Next Card">
</form>

</p>
